@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

/* Continuous Marquee Animations */
@keyframes marquee-slow {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

@keyframes marquee-slow2 {
  from {
    transform: translateX(50%);
  }
  to {
    transform: translateX(0);
  }
}

.animate-marquee-slow {
  animation: marquee-slow 100s linear infinite;
}

.animate-marquee-slow2 {
  animation: marquee-slow2 100s linear infinite;
}

@media (max-width: 768px) {
  .animate-marquee-slow {
    animation-duration: 100s !important;
  }
  .animate-marquee-slow2 {
    animation-duration: 100s !important;
  }
}
